.form-control {
    border-radius: 0;
    padding: .600rem .75rem;
}

.form-label {
    border-style: solid ;
    border-width: 1px;
    align-content: center;
    border-color: rgba(222, 226, 230);
}

.mainForm {
    margin-left: 10px;
}

.check {
    padding-top: 5px;
}

.success {
    margin-bottom: 15px;
    margin-right: 10px;
    width: 80px;
}

.cancel {
    margin-bottom: 15px;
    width: 80px;
}


