#loginwrap{
    text-align: center;
    margin: 30px 0px 50px;
    padding: 50px;
    min-height: 500px;
}

#loginbox{
    padding: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    margin : 10px auto;
    width: 400px;
}

#loginbox > input {
    margin : 5px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 10px;
    width: 300px;
}
#loginbox > input:focus{
    outline: none;
}

.loginbutton_default{
    margin: 5px;
    padding: 10px;
    border: 1px solid green;
    background: green;
    color: white;
    border-radius: 10px;
    width: 300px;
}
.loginbutton_default:hover{
    color: white;
    background: darkgreen;
    cursor: pointer;
}
.loginbutton_kakao{
    padding: 10px;
    border: 1px solid gold;
    background: gold;
    color: black;
    border-radius: 10px;
    width: 300px;
}
.loginbutton_kakao:hover{
    background: #f3c32a;
    cursor: pointer;
}

/* ~ 찾기 */
.findwrap{
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.findbutton{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 100%;
    margin-right: 1px;
}
.findbutton:hover{
    color: white;
    background: grey;
}

/* 비밀번호 변경 */
.modPwWrap{
    margin: 30px auto;
    max-width: 600px;
}