/* 메인 사진 */
#slider1 {
    height: 520px;
    background-image: url(https://images.pexels.com/photos/1539225/pexels-photo-1539225.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#slider2 {
    height: 520px;
    background-image: url(https://images.pexels.com/photos/1687845/pexels-photo-1687845.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#slider1 h2{
    text-align: center;
    color: white;
}

#slider1 h5{
    text-align: right;
    color: white;
}

.slider1_text {
    margin-left: 30%;
    text-shadow: 1px 0px 5px grey;
}
.slider2_text{
    margin-left: 20%;
    margin-bottom: 10%;
    color: white;
    text-shadow: 1px 0px 5px grey;
}


/* 중간 퀵메뉴 */
.quickmenuwrap{
    border: 1px solid gainsboro;
    height: 60px;
    display: flex;
    justify-content: space-between;
}


/* 서스펜션 브릿지 캠핑장 커뮤니티*/
.communitywrap{
    margin-top: 100px;
    margin-bottom: 100px;
}

.main_contents_03 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main_contents_03 h1 {
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    padding-top: 40px;
}

.main_contents_03 span.s_title {
    text-align: center;
    letter-spacing: 6px;
    display: block;
    font-size: 16px;
    color: #8c8c8c;
    margin: 30px 0;
}

div#tabs {
    width: 49%;
    height: 346px;
    padding: 10px 30px 20px;
    border: 1px solid #ddd;
    float: left;
    overflow: hidden;
}

ul.etabs {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: left;
    align-items: center;
}

ul.etabs li {
    width: 102px;
    display: inline-block;

}

ol, ul, li {
    list-style: none;
    padding: 0;
    margin-bottom: 3px;
}

ul.board_list li a p.date_day {
    font-size: 15px;
    display: inline-block;
    float: left;
    text-align: center;
    font-weight: 500;
    line-height: 23px;
    margin-right: 10px;
    color: #9e9e9e;
}

span.s_noti_desc {
    display: block;
    font-size: 14px;
    color: #a2a2a2;
    margin-top: 10px;
    word-break: keep-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ul.etabs li a {
    display: block;
    width: 102px;
    color: #929292;
    text-align: center;
    line-height: 50px;
    font-size: 19px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul.board_list {
    width: 100%;
}

ul.board_list li {
    clear: both;
    width: 100%;
    border-bottom: 1px dashed #ddd;
}

ul.board_list li a {
    width: 100%;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*overflow: hidden;*/
    display: block;
    font-size: 15px;
    padding: 15px 0;
    color: black;
}

ul.board_list li a p.date_day {
    font-size: 15px;
    display: inline-block;
    float: left;
    text-align: center;
    font-weight: 500;
    line-height: 23px;
    margin-right: 10px;
    color: #9e9e9e;
}

span.s_noti_desc {
    display: block;
    font-size: 15px;
    color: #686868;
    margin-top: 10px;
    word-break: keep-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ul.board_list li a p.date_day .big_day {
    font-size: 28px;
    line-height: 1.2;
    color: #9e9e9e;
    font-weight: 500;
}

.date-box{
    border: 1px solid red;
}

.wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.wrap:after {
    display: block;
    visibility: hidden;
    clear: both;
    content: "";
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 시설안내, 문의 및 안내전화 */
.board_right {
    float: right;
    width: 49%;
}

.facility{
    background-color: darkseagreen;
}

.board_right .facility {
    border: 1px solid #ddd;
    margin-bottom: -1px;
    box-sizing: border-box;
    background: url("https://cdn.pixabay.com/photo/2021/03/01/07/00/mountains-6058896_1280.jpg") ;
    background-size: cover;
}
.facility a{
    color: black;
}

.board_right .call{
    background: url("https://img.freepik.com/premium-vector/vector-design-customer-service-icon-style_822882-367928.jpg?w=740");
    background-size: max(130px);
    background-repeat: no-repeat;
    background-position: right;
}
.board_right> div {
    padding: 30px 25px;
    border: 1px solid #ddd;
}

.board_right p {
    font-size: 17px;
    line-height: 1.3;
}

.board_right .call p.call_number {
    font-weight: 600;
    font-size: 24px;
    color: #ff9000;
    margin-bottom: 10px;
}

.board_right h2 {
    font-size: 25px;
    margin: 0 0 15px;
}

.board_right p {
    font-size: 17px;
    line-height: 1.3;
}

.call{
    background-color: lightgoldenrodyellow;
}