
.imgwrap{
    width: 100%;
    max-height: 420px;
}
.quickmenuwrap{
    margin: auto 0;
    height: 50px;
    width: 100%;
}
#menuImg{
    width: 100%;
    max-height: 420px;
}

#menubuttonwrap{
    margin: -60px 0;
    display: flex;
    justify-content: space-between;
    border-collapse: collapse;
}
.menubuttonbox{
    display: flex;
    list-style-type: none;
    width: 100%;
}

.menubutton{
    margin-bottom: 70px;
    padding: 20px 0;
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
    border-radius: 5px;
    border-collapse: collapse;
    margin-right: -1px;
}

.menubutton:hover{
    background-color: #f68b1e;
    color: white;
}

.menubutton:focus{
    background-color: #f68b1e;
    color: white;
}

.menubutton.active {
    background-color: #f68b1e;
    color: white;
}