/* ----------------- 예약내역 ------------------- */
/* 테이블 */
.tablewrap{
    text-align: center;
    margin: 20px 0px;
}
table {
    border-collapse: collapse;
    border: 0;
    margin: auto;

}
th{
    font-size: 15px;
    background: #eee;
}
td{
    font-size: 13px;
    height: 45px;
}
th,
td {
    border: 1px solid #aaa;
    padding: 0.4rem;
    min-width: 6rem;
    margin: 0;
}


/* 버튼 */
.resbtn{
    text-decoration-line: underline;
}
.canclebtn{
    border: 1px solid #aaa;
    padding: 0.4rem 0.6rem;
    border-radius: 10px;
    background: gainsboro;
}
.canclebtn:hover{
    background: darkgray;
}
.reviewbtn{
    border: 1px solid #aaa;
    padding: 0.4rem 0.6rem;
    border-radius: 10px;
    background: palegoldenrod;
}


/* ------------------- 예약 상세 페이지 ------------------- */
.resdetailtablewrap{
    text-align: center;
    margin: 20px 0px;
}
.resdetailtablewrap td:nth-child(1){
    background: #eee;
    min-width: 130px;
}
.resdetailtablewrap td:nth-child(2){
    min-width: 130px;
}
.resdetailtablewrap button{
    margin : 20px;
}