@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
    font-family: "Noto Sans KR";
}


#mainwrap{
    min-height: 900px;
}

/* footer */

#footerwrap{
    background: grey;
    color: white;
    padding: 30px;
}

#footerinfo{
    margin: auto;
    max-width: 700px;
    font-size: 11px;
}